/* VARIABLES */
/*************/

$colores:(blanco:#f8f8f8,
    negro: #3a3a3a,
   azul:#2385E0,
   blancos:#FFFFFF
)
;

$dispositivo:(
smartphone:360px,
ipad:768px,
desktop:1366px

);

$breakpoints:(
    smartphone:320px,
    ipad:768px,
    desktop:1100px
);

$margenes:(

internos:20px,
navhorizontal:40px,

);


$fontTextoNav: 18px;
$familiaFont: ("roboto");
$tamanoTitulo:700px;
