/*NAVIGATOR*/
/***********/

/*navegador principal*/
/********************/


.logo{
    display: flex;
    flex-grow: 1;
}

.menu-principal__navegador {
display:flex;

grid-column-gap: 40px;
flex-grow: 1;
align-items: center;}